{% extends "base_bootstrap.html" %}


{% block content %}

<h1>Hello</h1>
<h1>Cats list</h1>

{% if cat %}
<ul>
    {% for c in cat%}
    <li> {{ c }} (<a href="{% url 'cats:cat_update' c.pk %}">Update</a>|<a href="{% url 'cats:cat_delete' auto.pk %}">Delete</a>)</li>
    {% endfor %}
</ul>
{% else %}
<span>There is no cats</span>
{% endif %}

<br>
<br>

{% if cats_count == 0 %} <span>Create at least one make</span>
{% else %}
<a href='{% url 'cats:cat_create' %}'>Add a cat</a>
{% endif %}

<br>

<p>
    <a href='{% url 'autos:makes_list' %}'>View makes ({{makes_count}})</a> | <a href='{% url 'autos:makes_create' %}'>Add a make</a>
</p>
{% endblock %}
